.main-container {
    max-width: 80vw;
    height: 100vh;
    margin-left: 320px;
    margin-right: 56px;
  }
  
  .header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 10px;
    border-radius: 8px;
    background-color: #121212;
  }
  
  .header__navigation .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .header__navigation .navigation .arrow-left {
    margin-right: 1.25rem;
  }
  
  .arrow-left, .arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: var(--bg-icon);
    background-color: var(--bg-arrow-color);
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
  
  .header__login {
    display: flex;
    align-items: center;
  }
  
  .header__search {
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    background-color: #242424;
    border-radius: 500px;
    border: 1px solid transparent;
  }
  
  .header__search img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
  }
  
  .header__search input {
    background: transparent;
    border: none;
    padding: 0 100px 0 12px;
    height: 100%;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
  }
  
  .header__login .subscribe {
    color: #a7a7a7;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    margin-right: 32px;
    border: none;
  }
  
  .header__login .login {
    width: 100px;
    height: 48px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
  }

  .playlist-container {
    height: 72vh;
    padding-top: 1rem;
    margin: 10px;
    border-radius: 10px;
    background-color: #121212;
  }
  
  .playlist {
    margin: 24px;
  }
  
  .playlist #greeting {
    color: var(--text-base-light);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
  }
  
  .playlist .session {
    color: var(--text-base-light);
    font-size: 24px;
    font-weight: 700;
  }