.main-container {
  max-width: 80vw;
  height: 100vh;
  margin-left: 320px;
  margin-right: 56px;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: 10px;
  border-radius: 8px;
  background-color: #121212;
}

.header__navigation .navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__navigation .navigation .arrow-left {
  margin-right: 1.25rem;
}

.arrow-left,
.arrow-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: var(--bg-icon);
  background-color: var(--bg-arrow-color);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.header__login {
  display: flex;
  align-items: center;
}

.header__search {
  display: flex;
  align-items: center;
  width: 364px;
  height: 48px;
  background-color: #242424;
  border-radius: 500px;
  border: 1px solid transparent;
}

.header__search img {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.header__search input {
  background: transparent;
  border: none;
  padding: 0 100px 0 12px;
  height: 100%;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  outline: none;
}

.header__login .subscribe {
  color: #a7a7a7;
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
  margin-right: 32px;
  border: none;
}

.header__login .login {
  width: 100px;
  height: 48px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  border-radius: 40px;
}

.playlist-container {
  height: 72vh;
  padding-top: 1rem;
  margin: 10px;
  border-radius: 10px;
  background-color: #121212;
}

.playlist {
  margin: 24px;
}

.playlist #greeting {
  color: var(--text-base-light);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 48px;
}

.playlist .session {
  color: var(--text-base-light);
  font-size: 24px;
  font-weight: 700;
}

.offer__scroll-container {
  max-height: 43vh;
  margin: 24px;
  overflow-y: auto;
}
.offer__list-item {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  gap: 16px;
  margin-bottom: 16px;
}
.cards {
  position: relative;
  width: 220px;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
}
.cards span {
  padding: 16px;
  position: absolute;
  color: var(--text-base-light);
  font-size: 24px;
  font-weight: 700;
}
.offer__scroll-container::-webkit-scrollbar {
  width: 1px;
}
.offer__scroll-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}
/* COLOR CARDS */
.card1 {
  background-color: rgb(0, 100, 80);
}
.card2 {
  background-color: rgb(132, 0, 231);
}
.card3 {
  background: rgb(30, 50, 100);
}
.card4 {
  background: rgb(140, 25, 50);
}
.card5 {
  background: rgb(232, 17, 91);
}
.card6 {
  background: rgb(83, 122, 161);
}
.card7 {
  background: rgb(142, 102, 172);
}
.card8 {
  background: rgb(20, 138, 8);
}
.card9 {
  background: rgb(30, 50, 100);
}
.card10 {
  background: rgb(233, 20, 41);
}
.card11 {
  background: rgb(80, 55, 80);
}
.card12 {
  background: rgb(216, 64, 0);
}
.card13 {
  background: rgb(186, 93, 7);
}
.card14 {
  background: rgb(0, 30, 80);
}
.card15 {
  background: rgb(60, 30, 80);
}
/* FIM COLOR CARDS */
.offer__list-item img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: auto;
  width: 107px;
  transform: rotate(25deg) translate(18%, -2%);
}
